*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.nav {
  display: block;
  background-color: #000;
  padding: 2% 8%;
}
.nav ul {
  display: block;
  /* justify-content: space-between; */
}
.nav ul li {
  padding-bottom: 1.5rem;
}
.nav ul li Link {
  color: #ffffff;
  
}
.nav ul li Link:hover {
  color: #FAF0A3;
  
}
.logo {
  display: flex;
  justify-content: space-between;
}
.logo div{
  display: block;
  font-size: 1rem;
  cursor: pointer;
  transition:  0.5s ease-in-out;
  position: fixed;
  z-index: 1;
  font-weight: bold;
  right: 25px;
color: #ffffff;
}

.home{
	background-color: #000;
	color: #ffffff;
	padding: 2% 8%;
	font-family: 'Roboto', sans-serif;
}
a{
	text-decoration: none;
	color: #c4c4c4;
	font-size: 1.2rem;
	font-weight: 500;
}
a:hover{
	color: #ffffff;
}
.links{
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.social{
	display: flex;
	gap: 2rem;
}
.banner {
	background-color: #000;
	color: #ffffff;
}
.banner h1 {
	padding: 0.5rem 0;
	font-size: 15vw;
	width: 100%;
	border-top: 1px solid rgb(131, 127, 127);
	border-bottom: 1px solid rgb(131, 127, 127);
}
.main-blog-item{
	margin-top: 2rem;
	padding-bottom: 2rem;
}

.blog-image img{
	width: 100%;
}
.date {
	color: #c4c4c4;
	font-size: small;
	padding: 0.5rem 0;
}
.blog-title{
	font-size: 18px;
	font-weight: 700;
	padding-bottom: 0.5rem;
}
p{
	font-weight: 400;
	font-size: 1rem;
	line-height: 22px;
}
.spec-blog-item{
	padding: 1rem 0;
	border-top: 1px solid #3a3939;
	display: flex;
	gap: 1rem;
}
.spec-blog-item .blog-image {
	align-self: center;
	width: 60%;
}
@media screen and (min-width:768px) {
  .links{
	flex-direction: row;
  }
  .nav {
  padding: 1rem 8%;
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  position: relative;
  }
.nav ul {
  display: flex;
  justify-content: space-between;
}
.nav ul li {
  padding: 0 1rem;
}

.logo div{
  display: none;
}
 .blog-container {
	  display: flex;
	  gap: 5%;
  }
  .blog-container aside{
	  margin-top: 2rem;
  }
}
@media screen and (max-width:768px) {
	.overlay.expanded{
  height: 100vh;
  width: 100%;
  top: 0px;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}
.overlay{
  height: 100vh;
  width: 100%;
  top: 0px;
  left: 0;
  position: fixed;
  background-color: transparent;
}
.overlay ul {
  position: fixed;
  top: 0px;
  left: 0;
  width: 30%;
  transform: translateX(-30%);
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  padding: 5%;
  transition: all 0.5s ease-in-out;
}
 .overlay.expanded ul {
    visibility: visible;
    transform: translateX(0px);
    transition: all 0.5s ease-in-out;
  }
 
}
